{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": false,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}