//all css height and color variables

//home page variables
$headerHeight: 10vh;
$headerBgColor: #f3f3f3;
$headerBtnBgColor: white;
$headerBtnBdrColor:#7b84ae;
$headerBtnBgHoverColor:rgba(255, 255, 255, 0.5);

//home page sidebar variables
$sidebarWidth:30%; 
$sidebarBdrClr: #dddddd;